.fr-route-views-tabs-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.fr-route-views-tabs {
  display: table-cell;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 40px;
  box-shadow: none;
  border: 0;
  width: 100%;
}

.fr-route-views-tabs .el-tabs__nav-wrap {
  min-height: 40px;
}

.fr-route-views-tabs .el-tabs__content {
  display: none;
}

.fr-route-views-tabs.el-tabs > .el-tabs__header .el-tabs__item {
  height: 32px;
  line-height: 30px;
  border: 1px solid $BORDER_DEFAULT_DEEP_COLOR;
  border-radius: 4px;
  margin-top: 4px;
  margin-left: 4px;
}

.fr-route-views-tabs.el-tabs > .el-tabs__header .el-tabs__item.is-active {
  border-color: $BG_PRIMARY_DEEP_COLOR;
}

.fr-route-views-tabs-operation {
  display: table-cell;
  width: 40px;
}

.fr-route-view-tabs-operation-btn {
  margin: 0;
  width: 100%;
  border: 0;
  float: right;
  background: $BG_DEFAULT_LIGHT_COLOR;
  border-bottom: 1px solid $BORDER_DEFAULT_LIGHT_COLOR;
  border-radius: 0;
  padding: 12px 0;
  height: 40px;
}

.fr-route-views-tabs .el-tabs__nav-next,
.fr-route-views-tabs .el-tabs__nav-prev {
  line-height: 40px;
}

.fr-route-views-tabs {
  .el-tabs__header {
    background-color: $BG_DEFAULT_LIGHT_COLOR;
  }
}
