/** --- 常用样式 START --- **/
// 宽高
.width__full {
  width: 100%;
}
// 高度
.height__full {
  height: 100%;
}
// padding
.padding__medium {
  padding: 20px;
}

.padding__small {
  padding: 10px;
}

.padding-horizontal__small {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-vertical__small {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding__mini {
  padding: 5px;
}

// margin
.margin__medium {
  margin: 20px;
}
.margin__small {
  margin: 10px;
}
.margin__mini {
  margin: 5px;
}
.margin-top__medium {
  margin-top: 20px;
}
.margin-horizontal__medium {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-horizontal__auto {
  margin-left: auto;
  margin-right: auto;
}

.align__center {
  text-align: center;
}
/** --- 常用样式 END --- **/