.lock-btn {
  position: relative;
  left: -17px;
  z-index: 1;
  background: $BG_DEFAULT_DEEP_COLOR;
  padding: 5px;
  font-size: 20px;
}

.lock-btn:hover,
.lock-btn:active,
.lock-btn:focus {
  background: #fff;
}

.lock-range-border {
  border: 1px solid #dcdfe6;
  height: 100%;
  width: 10px;
  border-right: 0;
  position: absolute;
  right: 10px;
  top: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
